# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# Output logs
*.log

# starter code for different platforms
vs2008/*
*.cproject
*.project

# backup files
*.bak
*.back
